<h1>Lista de Regalos</h1>

<table>
  <tr>
    <th>Descripción</th>
    <th>Nombre</th>
    <th></th>
    <th></th>
  </tr>

<% @gifts.each do |gift| %>
  <tr>
    <td><%= gift.description %></td>
    <td><%= gift.user.name %> </td>
    <td><%= link_to 'Show', gift %></td>
    <td><%= link_to 'Edit', edit_gift_path(gift) %></td>
    <td><%= link_to 'Destroy', gift, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Regalo', new_gift_path %>
<%= link_to 'Ver usuarios', users_path %>
